*, :before, :after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 10px;
}

 .container {
    background-image: url(./ressources/diceGame.jpg);
    background-size: cover;
    opacity: 0.7;
    width: 100%;
   height: 100vh;
   position: relative;
}

 #new-game {

    padding: 5px;
    font-size: 14px;
    font-weight: 600;
    font-family: "lato", sans-serif;
    background-color: rgb(243, 220, 10);
    z-index: 2;
    border-radius: 25%;
    position: absolute;
    top: 35px;
    left: 42%;
} 
.block-players {
    width: 65%;
    height: 65vh;
    position: absolute;
    top: 150px;
    left: 210px;
    background-color: white;
    opacity: 0.66;
}
.playerOne {
    margin-left: 12rem;
    font-size: 3rem;
    margin-top: 4rem;
    font-weight: 700;
}
.playerTwo {
   float: right;
   margin-right: 12rem;
   font-size: 3rem;
   margin-top: -5rem;
   font-weight: bold;
   
}


    